// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*-- scss:defaults --*/

$orange: rgb(255, 86, 44);
$font-family-sans-serif: 'Work Sans', sans-serif;
$presentation-font-size-root: 36px;
$body-color: rgb(44, 50, 63);
$presentation-heading-text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
$presentation-h1-text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
$presentation-heading-font-weight: bold;
$body-bg: rgb(241, 240, 235);
$link-color: $orange;
$light-bg-text-color: rgb(44, 50, 63);
$light-bg-link-color: $orange;
$light-bg-code-color: $orange;
$dark-bg-text-color: rgb(241, 240, 235);
$dark-bg-link-color: $orange;
$dark-bg-code-color: rgb(186, 255, 41);

/*-- scss:rules --*/
.orange {
    color: $orange;
}
